@model SocialPubOnline.Models.Utilizador

@{
    ViewBag.Title = "EditarPerfil";
}
<h1>Editar Perfil</h1> <hr />

<div class="row">
    <span style="float:left">@Html.ActionLink("Suspender Conta", "SuspenderConta", new { id = Model.codigo_utilizador }, new { @Class = "btn btn-default btn-group-lg" })</span>
</div>

<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">       
        <div class="col-md-2 col-md-offset-1">
            @Html.ActionLink("Alterar Password", "AlterarPassword", new { id = Model.codigo_utilizador }) <p></p>
            <div class="panel panel-default">

                <div class="panel-body">
                    <img width="130" height="130" src="@Model.foto" />
                </div>

            </div>

            @Html.ActionLink("Alterar Foto", "AlterarFoto", new { id = Model.codigo_utilizador })

        </div>

        <div class="col-md-8">

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.codigo_utilizador)

                <div class="form-group">
                    @Html.LabelFor(model => model.nome, "Nome", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="width: 300px">
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.genero, "Género", htmlAttributes: new { @class = "control-label col-md-2" })
                    @if (Model.genero == 'M')
                    {
                        <label class="radio-inline">
                            <input type="radio" name="genero" id="genero" value="Masculino" checked="checked" required> Masculino
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="genero" id="genero" value="Feminino" required> Feminino
                        </label>
                    }
                    else
                    {
                        <label class="radio-inline">
                            <input type="radio" name="genero" id="genero" value="Masculino" required> Masculino
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="genero" id="genero" value="Feminino" checked="checked" required> Feminino
                        </label>
                    }
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.data_nasc, "Data de Nascimento", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group date" style="width: 250px">
                        <input type="text" class="form-control" name="datanascimento" id="datanascimento" value="@Model.data_nasc.ToShortDateString()" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.endereco_pais, "País", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="width: 300px">
                        @Html.EditorFor(model => model.endereco_pais, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.endereco_pais, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.endereco_localidade, "Localidade", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="width: 300px">
                        @Html.EditorFor(model => model.endereco_localidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.endereco_localidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.contacto, "Contacto", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="width: 300px">
                        @Html.EditorFor(model => model.contacto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.contacto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="width: 300px">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="width: 300px">
                        <input id="Button_Alteracoes" type="submit" value="Efetuar Alterações" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>

        </div>
    </div>

}

@*Javascript para o datepicker funcionar*@
<script type="text/javascript">
    $(function () {
        $('#datanascimento').datepicker({
            format: 'dd/mm/yyyy'
        })
    });
</script>